<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div class="header">
      <p style="margin-left:25px;margin-top:20px;margin-bottom:-25px;"><a href="/">Martin's Notes</a> > {{page.title}} ({{ page.date | date_to_string }})</p>
    </div>
    
    <div id='container'>
      {% include post_pagination.html %}
      <div class="content">
        <section class='post'>
         
          {{ content }}
          {% include signoff.html %}
        </section>
      </div>
      {% if site.disqus_shortname and page.disqus != false %}
        {% include disqus.html %}
      {% endif %}
      <!-- {% include links.html %} -->
    </div>
    {% include footer.html %}
  </body>
</html>
